body {
    font-family: Arial;
    margin: 0;
    background: #111;
    color: #fff;
    background-image: url(фон2.jpg);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #222;
}



.baner {
    text-align: center;
    padding: 50px;
}





.products {
    
    display: flex;
   justify-content: center;
    gap: 20px;
  padding: 70px;
  
    
  
}




.product1 {
    background: #222;
    padding: 20px;
    text-align: center;
    
}

.product2 {
    background: #222;
    padding: 20px;
    text-align: center;
}

.product3 {
    background: #222;
    padding: 20px;
    text-align: center;
}

.product4 {
    background: #222;
    padding: 20px;
    text-align: center;
}

.product5 {
    background: #222;
    padding: 20px;
    text-align: center;
}

.product6 {
    background: #222;
    padding: 20px;
    text-align: center;
}

.product7 {
    background: #222;
    padding: 20px;
    text-align: center;
}

.product8 {
    background: #222;
    padding: 20px;
    text-align: center;
}

.product9 {
    background: #222;
    padding: 20px;
    text-align: center;
}

.product10 {
    background: #222;
    padding: 20px;
    text-align: center;
}

.product11 {
    background: #222;
    padding: 20px;
    text-align: center;
}






.product1 img {
    width: 370px;
    height: 400px;
    transition: 0.3s ;
}
.product1 img:hover {
    content: url("1\ black.jpg");
    width: 400px;
    height: 430px;
}

.product2 img {
    width: 370px;
    height: 400px;
    transition: 0.3s ;
}
.product2 img:hover {
    content: url("2\ black.jpg");
    width: 400px;
    height: 430px;
}

.product3 img {
    width: 370px;
    height: 400px;
    transition: 0.3s ;
}
.product3 img:hover {
    content: url("3\ black.jpg");
    width: 400px;
    height: 430px;
}

.product4 img {
    width: 370px;
    height: 400px;
    transition: 0.3s;
}
.product4 img:hover {
    content: url("4\ black.jpg");
    width: 400px;
    height: 430px;
}

.product5 img {
    width: 370px;
    height: 400px;
    transition: 0.3s ;
}
.product5 img:hover {
    width: 400px;
    height: 430px;
}


.product6 img {
    width: 370px;
    height: 400px;
    transition: 0.3s ;
}
.product6 img:hover {
    content: url("6\ white.jpg");
    width: 400px;
    height: 430px;
}

.product7 img {
    width: 370px;
    height: 400px;
    transition: 0.3s ;
}
.product7 img:hover {
    content: url("7\ футболка.jpg");
    width: 400px;
    height: 430px;
}

.product8 img {
    width: 370px;
    height: 400px;
    transition: 0.3s ;
}
.product8 img:hover {
    content: url("8\ футболка.jpg");
    width: 400px;
    height: 430px;
}

.product9 img {
    width: 370px;
    height: 400px;
    transition: 0.3s ;
}
.product9 img:hover {
    content: url("9\ футболка.jpg");
    width: 400px;
    height: 430px;
}

.product10 img {
    width: 370px;
    height: 400px;
    transition: 0.3s ;
}
.product10 img:hover {
    content: url("10\ футболка.jpg");
    width: 400px;
    height: 430px;
}


.product11 img {
    width: 370px;
    height: 400px;
    transition: 0.3s ;
}
.product11 img:hover {
    content: url("jeans\ 1.jpg");
    width: 400px;
    height: 430px;
}



button{
    background: red;
    color: white;
    padding: 10px 20px;
    
}




footer {
    text-align: center;
    padding: 20px;
    background: #222;
}